<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Login page</title>
    <style>
.alert-danger{color:red;}
</style>
</head>
<body>
<h2>ログイン画面</h2>
<form th:action="@{/login}" th:object="${loginForm}" method="post">
    <div style="width:160px;"><label for="username">ユーザ名：</label></div>
    <input type="text" name="loginId" autofocus="autofocus" />
    <br/>
    <div style="width:160px;"><label for="password">パスワード：</label></div>
    <input type="password" name="password" />
    <br/>
    <p><input type="submit" value="ログイン" /></p>

	<ul th:if="${#fields.hasErrors('*')}">
	<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
	</ul>
</form>
</body>
</html>